.bgImgRegister{
    position: absolute !important;
    z-index: 1 !important;
    background-image: url("../img/ill/register_bg.png");
}
<<<<<<< HEAD
=======

.numVerif{
    font-size: 10px !important;
}

.passFormControl1 input{
    border: 0 px solid !important;
    background-color: blue;
}

>>>>>>> 6a15986df2715ad395297399f4e00a5ba8c68910
