.bgImgRegister{
    position: absolute !important;
    z-index: 1 !important;
    background-image: url("../img/ill/register_bg.png");
}
<<<<<<< HEAD
=======


>>>>>>> 6a15986df2715ad395297399f4e00a5ba8c68910
