{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/funcionesUriel.js' %}"></script>
    <title>Carrito</title>
</head>
<body>

    <script>
        window.onload=function(){
            initCarrito();
        }
    </script>

    Carrito

    <a href="{% url 'store' %}">
        <button>
            Volver a los productos
        </button>
    </a>

    <p id="pedidos">
    </p>

    <a href="{% url 'pago' %}">
        <button id="terminarCompra">
            Terminar mi compra
        </button>
    </a>
    
</body>
</html>