<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>

    <script>
        window.onload = function(){
            let pedidos = JSON.parse(localStorage.getItem("pedidos"));

            if(pedidos==null){
                pedidos = 'No hay producto en tu carrito';
            }

            let divPedidos = document.querySelector("#pedidos");

            let table = document.createElement("table");
            let tr1 = document.createElement("tr");
            
            let th1 = document.createElement("th");
            th1.appendChild(document.createTextNode("Nombre"));
            let th2 = document.createElement("th");
            th2.appendChild(document.createTextNode("Precio p/unidad"));
            let th3 = document.createElement("th");
            th3.appendChild(document.createTextNode("Total"));
            tr1.appendChild(th1);
            tr1.appendChild(th2);
            tr1.appendChild(th3);

            table.appendChild(tr1);
            
            let keys = Object.keys(pedidos);
            for(let x=0; x<Object.keys(pedidos).length; x++){
                let key = keys[x];
                console.log(key, ":",  pedidos[key]);

                let tr = document.createElement("tr");
                let td1 = document.createElement("td");
                td1.appendChild(document.createTextNode(pedidos[key]['nombre']));

                let td2 = document.createElement("td");
                td2.appendChild(document.createTextNode(pedidos[key]['precio']));

                let td3 = document.createElement("td");
                td3.appendChild(document.createTextNode(pedidos[key]['total']));

                tr.appendChild(td1);
                tr.appendChild(td2);
                tr.appendChild(td3);
                table.appendChild(tr);
            }

            divPedidos.appendChild(table);


        }
    </script>

    Carrito

    <a href="{% url 'store' %}">
        <button>
            Volver a los productos
        </button>
    </a>

    <p id="pedidos">
    </p>
    
</body>
</html>