<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- MENSAJE DE EXITO CUANDO EL REGISTRO DEL USUARIO ES EXITOSO -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- FORMULARIO PARA INICIO DE SESION -->
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <!-- SI NO SE INGRESA CORRECTAMENTE EL USUARIO O CONTRASEÑA -->
        {{ form.as_p }}
        <input type="submit" name="Iniciar sesion" id="btn-iniciar" value="Iniciar sesión">
    </form>

    <!-- BOTON QUE ENVIA A LA PAGINA DE REGISTRO -->
    <a href="{% url 'signup' %}">
        <button>Todavia no tengo cuenta</button>
    </a>

    
    <a href="{% url 'verification' %}">
        <button>Ya cuento con mi codigo de verificación</button>
    </a>

    
    
</body>
</html>