<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <p>Todos los datos son requeridos</p>

    <!-- FORMULARIO PARA EL REGISTRO DE UN USUARIO -->
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="signup" id="btn-registro" value="Registrame">
    </form>

    <!-- BOTON QUE ENVIA A LA PAGINA DE LOGIN -->
    <a href="{% url 'login' %}">
        <button>Ya tengo cuenta</button>
    </a>
    
</body>
</html>